<!doctype html>
<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>The Andre Box Score</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="script.js"></script>

  </head>
  
  <body>

    <nav></nav>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand fuzz" href="#">The YouthBuild Box Score</a>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <blockquote class='blockquote-reverse pull-right'>
            "The more games I go to, the better the Red Sox do."
            <footer>Andre</footer>
          </blockquote>
        </div>
      </div>
    </div>


    <div class="container" ng-controller="ScoreController">

      <div class="row">
        <div class="col-md-12 text-center">
          <p class="lead">
            Of the <span ng-pluralize count="games.length" when="{one: '1 game', other: '{} games'}"></span>
            YouthBuild Employees have attended in 2014, the <team team="'Boston Red Sox'"></team> are:
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center score overall">
          <span>{{ wins }}</span>
          -
          <span>{{ losses }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">         
          <div class="list-group">
            <div class="list-group-item" ng-repeat="game in games track by game.date | orderBy:'date':true">
              <div class="row">
                <div class="col-md-2 text-center">{{ game.date | date }}</div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-xs-5 text-right">
                      <team team="game.away"></team> 
                    </div>
                    <div class="col-xs-2 text-center">
                      @
                    </div>
                    <div class="col-xs-5">
                      <team team="game.home"></team> 
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="row">
                    <div class="col-xs-8 text-center">
                      <span>{{ game.away_score }}</span> - <span>{{ game.home_score }}</span>
                    </div>
                    <div class="col-xs-4 text-center">
                      {{ {true: 'Won', false: 'Lost'}[game.outcome] }}
                    </div>
                  </div>
                </div>

                <div class="col-md-2 text-center">
                  <ul class="list-unstyled name">
                    <li ng-repeat="staff in game.staff">{{ staff }}</li>
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row staff-row" ng-repeat="(staff, games) in staff">
        <div class="col-xs-6 name text-right">{{ staff }}</div>
        <div class="col-xs-6">
          <staff-score staff="staff"></staff-score>
        </div>
      </div>

      <hr>

    </div>
  </body>
</html>
