body {
  background-color: #002244;
  color: #eee;
}

h1, h3, .score, .team, .name { font-family: 'Special Elite', cursive;}

.score.overall { font-size: 100px; }

hr {
  width: 75%;
  border-top: solid 1px #002230;
}

blockquote footer:after {
  content: '' !important;
}

nav.navbar {
  background-color: #C60C30;
  margin-bottom: 0;
  border-color: #930000;
}
nav.navbar .navbar-brand {
  color: #002244;
  font-family: 'Special Elite', cursive;
  font-size: 30px;
  line-height: 34px;
  padding: 12px 20px 4px;
  
    text-shadow: 
     -1px -1px 0 rgba(255,255,255, .6),
    0px -1px 0 rgba(255,255,255, .6),
    1px -1px 0 rgba(255,255,255, .6),
    -1px 1px 0 rgba(255,255,255, .6),
    0px 1px 0 rgba(255,255,255, .6),
    1px 1px 0 rgba(255,255,255, .6),
 
    -2px -2px 0 rgba(93, 0, 0, .6),
    0px -2px 0 rgba(93, 0, 0, .6), 
    2px -2px 0 rgba(93, 0, 0, .6),
    -2px 2px 0 rgba(93, 0, 0, .6),
    0px 2px 0 rgba(93, 0, 0, .6),
    2px 2px 0 rgba(93, 0, 0, .6);
}

nav.navbar .navbar-brand:hover {
  color: #002244;
}

blockquote {
  font-style: italic;
  color: #EEE;
  background-color: rgba(0,0,0,.7);
  border-right: none !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1em !important;
}

.fuzz {
  text-shadow: 
    -1px -1px 0 rgba(255,255,255, .6),
    0px -1px 0 rgba(255,255,255, .6),
    1px -1px 0 rgba(255,255,255, .6),
    -1px 1px 0 rgba(255,255,255, .6),
    0px 1px 0 rgba(255,255,255, .6),
    1px 1px 0 rgba(255,255,255, .6);
}

.jumbotron {
  background-image: url('fenwaysm.jpg');
  background-size: cover;

  border-bottom: solid 4px #C60C30;
}

.list-group-item {
  color: white;
  background-color:  #3D605A;
}

.list-group-item a {
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

tr a:hover {
 color: #002244; 
   text-shadow:
    -1px -1px 0 rgba(245,245,245, .4),
    0px -1px 0 rgba(245,245,245, .4),
    1px -1px 0 rgba(245,245,245, .4),
    -1px 1px 0 rgba(245,245,245, .4),
    0px 1px 0 rgba(245,245,245, .4),
    1px 1px 0 rgba(245,245,245, .4);
}

.team {
  font-weight: bold;
  font-size: 1.1em;
  text-shadow:
    -1px -1px 0 rgba(245,245,245, .4),
    0px -1px 0 rgba(245,245,245, .4),
    1px -1px 0 rgba(245,245,245, .4),
    -1px 1px 0 rgba(245,245,245, .4),
    0px 1px 0 rgba(245,245,245, .4),
    1px 1px 0 rgba(245,245,245, .4);
}

.staff-row {
  font-size: 2em;
}

.center-row {
  display: table;
}
.center {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
