body {
  background-color: #002244;
  color: #eee;
}

h1, .score, .team { font-family: 'Special Elite', cursive;}

.score { font-size: 100px }

blockquote footer:after {
  content: '' !important;
}

blockquote {
  font-style: italic;
  color: #EEE;
  background-color: rgba(0,0,0,.7);
  border-right: none !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1em !important;
}

.jumbotron h1 {
  margin-top: 0;
  color: #111;
  text-shadow:
  -1px -1px 0 #EEE,
  0px -1px 0 #EEE,
  1px -1px 0 #EEE,
  -1px 1px 0 #EEE,
  0px 1px 0 #EEE,
  1px 1px 0 #EEE;
}
.jumbotron {
  background-image: url('fenwaylg.jpg');
  background-size: cover;

  border-bottom: solid 4px #C60C30;
}

.list-group-item {
  color: white;
  background-color:  #3D605A;
}

.list-group-item a {
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

tr a:hover {
 color: #002244; 
   text-shadow:
    -1px -1px 0 rgba(245,245,245, .4),
    0px -1px 0 rgba(245,245,245, .4),
    1px -1px 0 rgba(245,245,245, .4),
    -1px 1px 0 rgba(245,245,245, .4),
    0px 1px 0 rgba(245,245,245, .4),
    1px 1px 0 rgba(245,245,245, .4);
}

.team {
  font-weight: bold;
  text-shadow:
    -1px -1px 0 rgba(245,245,245, .4),
    0px -1px 0 rgba(245,245,245, .4),
    1px -1px 0 rgba(245,245,245, .4),
    -1px 1px 0 rgba(245,245,245, .4),
    0px 1px 0 rgba(245,245,245, .4),
    1px 1px 0 rgba(245,245,245, .4);
}